<% include ../partials/header %>

    
    <div class="blogs-page-container">
        <% blogs.forEach(blog =>{ %>
            <a href="/blogs/<%=blog._id%>" class="blog-container-anchor">
                <div class="blog-container">
                    <div class="column-left">
                        <img class="blog-image" src="<%=blog.image%>">
                    </div>
                    <div class="column-right">
                        <div class="blog-title"><%=blog.title%></div>
                        <div class="blog-text"><%if(blog.text){%><%= blog.text.substring(0,300) %><%}%>...</div>
                        <div class="blog-date"><%=months[blog.date.getMonth()]%> <%=blog.date.getDate()%>, <%=blog.date.getFullYear()%></div>
                    </div>

                </div>
            </a>
        <%})%>
        
        <% if(currentUser){ %>
            <div class="user-button-container">
                <a href="/blogs/new">New Blog</a>
                <a href="/logout">Logout</a>
            </div>
        <%}%>
    </div>
    <!-- 'blogs' comes in through the index route '.find({})' -->

<% include ../partials/footer %>