<% include ../partials/header %>
<!-- 'blog' is passed in through the show route based of :id -->
<div><%=blog.title%></div>
<img src="<%=blog.image%>" alt="">
<div><%=blog.text%></div>

<!-- EDIT and DELETE (FORM) -->
<% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
     <a href="/blogs/<%=blog._id%>/edit">Edit</a>
    <form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
<%}%>



<% include ../partials/footer %>